body {
    background-color: #cff2ff;
}

#AppHead {
    text-align: center;
    font-family: Arial;
    width: 100%;
    margin-top: 25;
}
#NavBar {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding: 10 5 10 5;
    margin-top: 100px;
    appearance: button;
}
#NavButton {
    background-color: rgb(255, 255, 255); 
    color: rgba(0, 0, 0, 0.54); 
    height: fit-content;
    width: 150;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 
    padding: 0px; 
    border-radius: 2px; 
    border: 1px solid transparent;
    cursor: default;
    font: 14px Arial;
    padding: 5 5 5 5;
    border-width: 2px;
    margin-left: 50;
    margin-right: 50;
    text-decoration: none;
    appearance: button;
}
#NavButton:hover {
    background-color: rgb(235 235 235); 
    color: rgba(0, 0, 0, 0.54); 
    height: fit-content;
    width: 150;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 
    padding: 0px; 
    border-radius: 2px; 
    border: 1px solid transparent;
    cursor: default;
    font: 14px Arial;
    padding: 5 5 5 5;
    border-width: 2px;
    margin-left: 50;
    margin-right: 50;
    text-decoration: none;
    appearance: button;
}
#UserForm {
    font-family: Roboto, sans-serif;
    background-color: #5daecd;
    height: fit-content;
    width: fit-content;
    border: 2px solid;
    border-radius: 5px;
}
#UserForm h4 {
    text-align: center;
    margin-top: 10;
    margin-bottom: 40;
    height: 0;
}
#UserForm form {
    float: left;
    height: fit-content;
    overflow-y: auto;
    background-color: #ffffffd4;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    padding: 5px;
    margin-bottom: 0;
}
#UpdateForm form {
    text-align: center;
    padding: 10px;
    background-color: #ffeed4;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}
#UpdateForm button {
    margin-top: 5px;
}
#HomeContent {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url("GB.jpg");
}

#ProfileContent {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}
#WorkoutContent {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}
#FoodSearchContent {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}
#AboutContent {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}
.Home {
    float: left;
    font-family: Roboto, sans-serif;
    background-color: #5daecd;
    height: fit-content;
    width: fit-content;
    border: 2px solid;
    border-right: 1px solid;
    border-radius: 5px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: 275px 450px;
}
.Home h3 {
    text-align: center;
    margin-top: 10;
    margin-bottom: 15;
    height: 0;
}
.Home p {
    float: left;
    height: 531px;
    width: 900px;
    overflow-y: auto;
    background-color: #ffffffd4;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    padding: 5px;
    margin-bottom: 0;
}
#Profile_Pic {
    width: 25;
    border-radius: 50%;
}
#Chatbox {
    float: left;
    background-color: #FF9800;
    width: 360px;
    border: 2px solid;
    border-left: 1px solid;
    border-radius: 5px;
}
#Chatbox h3 {
    text-align: center;
    margin-top: 10;
    margin-bottom: 15;
    height: 0;
}
.TextInput input {
    float: left;
    background-color: #ffffff;
    height: 30px;
    width: 310px;
    padding: 15;
    border: 1px;
    border-radius: 1px;
}
.TextInput button {
    float: left;
    background-color: rgb(235 235 235);
    height: 30px;
    width: 50;
    color: rgb(0 0 0 / 54%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border: 1px solid transparent;
    font: 14px Arial;
    padding: 5 5 5 5;
    display: inline;
    margin: 0;
}
.TextInput input:disabled {
    float: left;
    background-color: #afafaf;
    height: 30px;
    width: 310px;
    padding: 5;
    border: 1px ;
    border-radius: 1px;
}
.TextInput button:disabled {
    float: left;
    background-color: rgb(146 146 146); 
    height: 30px;
    width: 50;
    color: rgb(0 0 0 / 54%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;  
    border-radius: px; 
    border: 1px solid transparent;
    font: 14px Arial;
    padding: 5 5 5 5;
    display: inline;
}
#Message_List {
    float: left;
    height: 504px;
    width: 345px;
    overflow-y: auto;
    background-color: #ffffffd4;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5 10 5 5;
    margin-bottom: 0;
    font-size: 12;
}
#MessageSelf {
    text-align: right;
    width: fit-content;
    text-align: left;
    background-color: #ffffff;
    color: black;
    border-style: black solid;
    padding: 15px 5px;
    margin: 10px 0;
    margin-left: auto;
}
#SelfText {
    float: right;
}
#OthersCont {
    width: fit-content;
    text-align: left;
    background-color: #0008ffb0;
    color: white;
    border-style: black solid
    border-radius: 25px;
    padding: 15px 4px;
    margin: 10px 0;
}
#MessageTime {
    font-style: italic;
    font-size: 10px;
}
#Left {
    float: left;
    width: 50%;
}
#Right {
    float: right;
    width: 50%
}
.UserDetails {
    text-align: center;
    float: right;
    height: fit-content;
    width: fit-content;
    border: solid;
    background-color: #ff9800;
    flex: 50%;
}
.UserDetails h3{
    text-align: center;
    margin-top: 10;
    margin-bottom: 5;
    height: 0;
}
.UserDetails p {
    text-align: left;
    width: 500px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: #ffffffd4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5;
    margin-bottom: 0;
}
.MacrosChart {
    float: right;
    height: fit-content;
    width: fit-content;
    border: solid;
    background-color: #ff9800;
    flex: 50%;
}
.MacrosChart h3{
    text-align: center;
    margin-top: 10;
    margin-bottom: 15;
    height: 40;
}
.recharts-wrapper {
    width: 500px;
    border-top: 1px solid;
    background-color: #ffffffd4;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5;
}
.RecommendedMeals {
    float: left;
    height: fit-content;
    width: fit-content;
    border: solid;
    background-color: #ff9800;
    flex: 50%;
}
.RecommendedMeals h3{
    text-align: center;
    margin-top: 10;
    margin-bottom: 15;
    height: 15;
}
.RecommendedMeals p {
    width: 500px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: #ffffffd4;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5;
}
.Canvasdiv{
    text-align: left;
}
.CanvasProt{
    border: 1px #0088FE;
    background: #0088FE;
    width: 50;
    height: 10;
    right:100px;
} 
.CanvasCarb{
    border: 1px #00C49F;
    background: #00C49F;
    width: 50;
    height: 10;
    right:100px;
} 
.CanvasFat{
    border: 1px #FFBB28;
    background: #FFBB28;
    width: 50;
    height: 10;
    right:100px;
} 
.WeightGraph {
    float: left;
    height: fit-content;
    width: fit-content;
    border: solid;
    background-color: #ff9800;
    flex: 50%;
}
.WeightGraph h3{
    text-align: center;
    margin-top: 10;
    height: 20;
}
.WeightGraph p {
    width: 500px;
    border-top: 1px solid;
    background-color: #ffffffd4;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5;
}
#FoodSearch {
    font-family: Arial;
}
ul {
    list-style-type: none;
}
hr {
    border: #5daecd 3px solid;
    border-radius: 50px;
}
.food3{
    position: relative;
    left: 500px;
    bottom: 665px;
    
}
.food4{
    position: relative;
    left: 500px;
    bottom: 665px;
    
}
.food5{
    position: relative;
    left: 500px;
    bottom: 665px;   
}
button {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.54);
    height: fit-content;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: default;
    font: 14px Arial;
    padding: 5 5 5 5;
    border-width: 2px;
    text-decoration: none;
    appearance: button;
    margin-right: 5;
}
button:hover {
    background-color: rgb(235 235 235); 
    color: rgba(0, 0, 0, 0.54); 
    height: fit-content;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 
    padding: 0px; 
    border-radius: 2px; 
    border: 1px solid transparent;
    cursor: default;
    font: 14px Arial;
    padding: 5 5 5 5;
    border-width: 2px;
    text-decoration: none;
    appearance: button;
}

.a1 p {
  font-family: monospace, arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px solid #12718a;
  border-radius: 6px;
  background: #FF9800;
  box-shadow: 0 10px 6px -6px #777;
  transition: all .3s ease-in-out;
}

.a2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  min-height: 100vh;
  color: #000000;
}

.team-intro {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
  grid-gap: 50px;
  margin: 2rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px solid #12718a;
  border-radius: 6px;
  background: #34c6eb;
  box-shadow: 0 10px 6px -6px #777;
  transition: all .3s ease-in-out;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.team-member p {
  margin: 1rem;
}