body {
    background-color: #434f5d;
    font-family: 'Raleway';
    transition: all .5s ease-in-out;
}
#AppHead {
    text-align: center;
    width: 100%;
    padding-top: 5;
    padding-bottom: 5;
    background-color: #7c8da2;
    border: solid;
    border-color: transparent;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 5px black;
}
#NavBar {
    text-align: center;
    width: 100%;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 6;
    appearance: button;
    background-color: 7c8da2;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 5px;
}
#NavButton {
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
    height: fit-content;
    width: 150;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: default;
    font: 16px 'Raleway';
    font-weight: bold;
    padding: 5 5 5 5;
    border-width: 2px;
    margin-left: 25;
    margin-right: 25;
    text-decoration: none;
    appearance: button;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}
#NavButton:hover {
    background-color: rgb(192 192 192); 
    color: rgb(0 0 0); 
    height: fit-content;
    width: 150;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; 
    padding: 0px; 
    border-radius: 2px; 
    border: 1px solid transparent;
    cursor: default;
    font: 16px 'Raleway';
    font-weight: bold;
    padding: 5 5 5 5;
    border-width: 2px;
    margin-left: 25;
    margin-right: 25;
    text-decoration: none;
    appearance: button;
    letter-spacing: 1px;
}
#UserForm {
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
    border: 2px solid;
    border-radius: 5px;
}
#UserForm h4 {
    text-align: center;
    margin-top: 10;
    margin-bottom: 40;
    height: 0;
}
#UserForm form {
    float: left;
    height: fit-content;
    overflow-y: auto;
    background-color: #ffffffd4;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    padding: 5px;
    margin-bottom: 0;
}
#UpdateForm form {
    text-align: center;
    padding: 10px;
    background-color: #f1e1e0;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}
#UpdateForm button {
    margin-top: 5px;
}
#HomeContent {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#ProfileContent {
  transition: all 5s ease-in-out;
  justify-content: center;
  overflow: hidden;
}
#WorkoutContent {
    display: flex;
    justify-content: center;
}
#SearchContent {
  
}
#SearchContent a {
  color: black;
}
#SearchContent a:hover {
  color: #7c8da2;
}
#SearchContent a:active {
  color: #7c8da2;
}

#AboutContent {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}
.Home {
    float: left;
    background-color: #7c8da2;
    height: fit-content;
    width: fit-content;
    border: 2px solid;
    border-right: 1px solid;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 275px 450px;
}
.Home h3 {
    text-align: center;
    margin-top: 10;
    margin-bottom: 31;
    height: 0;

    color: white;
    text-shadow: 2px 2px 5px black;
}
.Home div {
    float: left;
    height: 535px;
    width: 900px;
    overflow-y: auto;
    background-color: #ffffffd4;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    padding: 5px;
    margin-bottom: 0;
}
#Profile_Pic {
    width: 25;
    border-radius: 50%;
}
#Chatbox {
    float: left;
    background-color: #ac5049;
    width: 360px;
    border: 2px solid;
    border-left: 1px solid;
    border-radius: 5px;
}
#Chatbox h3 {
    text-align: center;
    margin-top: 10;
    margin-bottom: 19;
    height: 0;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.TextInput input {
    float: left;
    background-color: #ffffff;
    height: 30px;
    width: 310px;
    padding: 15;
    border: 1px;
    border-radius: 1px;
    font-family: 'Raleway';
}
.TextInput button {
    float: left;
    background-color: rgb(235 235 235);
    height: 30px;
    width: 50;
    color: rgb(0 0 0 / 54%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border: 1px solid transparent;
    padding: 5 5 5 5;
    display: inline;
    margin: 0;
}
.TextInput button:hover {
    float: left;
    background-color: rgb(225 225 225);
    height: 30px;
    width: 50;
    color: rgb(0 0 0 / 54%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    border: 1px solid transparent;
    padding: 5 5 5 5;
    display: inline;
    margin: 0;
}
.TextInput input:disabled {
    float: left;
    background-color: #afafaf;
    height: 30px;
    width: 310px;
    padding: 5;
    border: 1px ;
    border-radius: 1px;
}
.TextInput button:disabled {
    float: left;
    background-color: rgb(146 146 146); 
    height: 30px;
    width: 50;
    color: rgb(0 0 0 / 54%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;  
    border-radius: px; 
    border: 1px solid transparent;
    padding: 5 5 5 5;
    display: inline;
}
#Message_List {
    float: left;
    height: 504px;
    width: 345px;
    overflow-y: auto;
    background-color: #ffffffd4;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 5 10 5 5;
    margin-bottom: 0;
    font-size: 12;
}
#MessageSelf {
    text-align: right;
    width: fit-content;
    text-align: left;
    background-color: #ffffff;
    color: black;
    border-style: black solid;
    padding: 15px 5px;
    margin: 10px 0;
    margin-left: auto;
}
#SelfText {
    float: right;
}
#OthersCont {
    width: fit-content;
    text-align: left;
    background-color: #0008ffb0;
    color: white;
    border-style: black solid
    border-radius: 25px;
    padding: 15px 4px;
    margin: 10px 0;
}
#MessageTime {
    font-style: italic;
    font-size: 10px;
}
#Left {
    float: left;
    width: 33%;
    margin-right: 1;
}
#Middle {
  justify-content: center;
}
#Middle h2 {
  text-align: center;
  float: left;
  width: 33%;
  color: white;
  text-shadow: 2px 2px 5px black;
}
#Right {
    float: right;
    width: 33%;
    margin-left: 1;
}
.UserDetails {
    text-align: center;
    float: right;
    height: fit-content;
    width: fit-content;
    border: solid;
    background-color: #ac5049;
    flex: 50%;
    margin-bottom: 15;
    font-weight: bold;
}
.UserDetails h3{
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 10;
    margin-bottom: 5;
    height: 0;
    color: white;
    text-shadow: 2px 2px 5px black
}
.UserDetails p {
    text-align: left;
    width: 500px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: #ffffffd4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5;
    margin-bottom: 0;
}
#MacrosChartBox {
    float: right;
    height: fit-content;
    width: 505;
    border: solid;
    background-color: #ac5049;
    flex: 50%;
}
#MacrosChartBox h3{
    text-align: center;
    margin-top: 5;
    margin-bottom: 5;
    height: 40;
    color: white;
    text-shadow: 2px 2px 5px black;
}
#MacrosChart {
  height: 300;
  background-color: #ffffffd4;
}
.RecommendedMeals {
    float: left;
    height: fit-content;
    width: fit-content;
    border: solid;
    background-color: #ac5049;
    flex: 50%;
    font-weight: bold;
}
.RecommendedMeals h3{
    text-align: center;
    margin-top: 10;
    margin-bottom: 15;
    height: 15;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.RecommendedMeals p {
    width: 500px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: #ffffffd4;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5;
}
.WeightGraph {
    float: left;
    height: fit-content;
    width: fit-content;
    border: solid;
    background-color: #ac5049;
    flex: 50%;
    margin-bottom: 15;
    background-color: #f1e1e0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5;
    font-weight: bold;
}
.WeightGraph h3{
    text-align: center;
    margin-top: 10;
    height: 20;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.WeightGraph p {
    width: 500px;
    border-top: 1px solid;
    background-color: #ffffffd4;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5;
}
.Canvasdiv{
    padding-top: 5px;
    padding-left: 5px;
    text-align: left;
    font-weight: bold;
    border-top: 1px solid;
    background-color: #f1e1e0;
    height: 0;
}
.CanvasProt{
    border: 1px #0088FE;
    background: #0088FE;
    width: 50;
    height: 10;
    right:100px;
} 
.CanvasCarb{
    border: 1px #00C49F;
    background: #00C49F;
    width: 50;
    height: 10;
    right:100px;
} 
.CanvasFat{
    border: 1px #FFBB28;
    background: #FFBB28;
    width: 50;
    height: 10;
    right:100px;
} 


ul {
    list-style-type: none;
}
hr {
    border: #ac5049 1px solid;
    border-radius: 50px;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0 0 0);
    height: fit-content;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 0px;
    font-family: 'Raleway';
    font-weight: bold;
    border: 1px solid transparent;
    cursor: default;
    padding: 5 5 5 5;
    border-width: 2px;
    text-decoration: none;
    appearance: button;
    margin-right: 5;
    transition: all .3s ease-in-out;
}
button:hover {
    background-color: rgb(192 192 192);
    color: rgb(0 0 0);
    height: fit-content;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 0px;
    border: 1px solid transparent;
    cursor: default;
    padding: 5 5 5 5;
    border-width: 2px;
    text-decoration: none;
    appearance: button;
}

.a1 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px solid #000000;
  border-radius: 6px;
  background: #f1e1e0;
  box-shadow: 0 10px 6px -6px #000;
  transition: all .3s ease-in-out;
}

.a2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  color: #000000;
}

.team-intro {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
  grid-gap: 50px;
  margin: 2rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem;
  border: 2px solid #000000;
  border-radius: 6px;
  background: #f1e1e0;
  box-shadow: 0 10px 6px -6px #000;
  transition: all .3s ease-in-out;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.team-member p {
  margin: 1rem;
}

.a3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  color: #000000;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  grid-gap: 50px;
  margin: 2rem;
}

.technologies-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem;
  border: 2px solid #000000;
  border-radius: 6px;
  background: #f1e1e0;
  box-shadow: 0 10px 6px -6px #000;
  transition: all .3s ease-in-out;
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.technologies-list:hover {
  transform: scale(1.05);
}

.food-result {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  grid-gap: 50px;
  margin: 1rem;
}

.food-list span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem;
  border: 2px solid #000000;
  border-radius: 6px;
  background: #f1e1e0;
  box-shadow: 0 10px 6px -6px #000;
  transition: all .3s ease-in-out;
}

.food-list:hover {
  transform: scale(1.05);
}

.food-result1 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  grid-gap: 50px;
  margin: 1rem;
}

.food-list1 span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem;
  border: 2px solid #000000;
  border-radius: 6px;
  background: #f1e1e0;
  box-shadow: 0 10px 6px -6px #000;
  transition: all .3s ease-in-out;
}

.food-list1:hover {
  transform: scale(1.05);
}