<html>
    <head>
       <title> Gut Buster </title>
    </head>
    <body>
        <h1> Gut Buster  (Landing Page/ add stuff the way professor wants it to be like specs)</h1>
        <h2><a href="login.html"><button>Login Page </button></a>
            <a href="profile.html"><button>Profile Page</button></a>
            <a href="foodSearch.html"><button>Food Search Page</button></a>
            </h2>
        <div>
            <h2>Wellcome to the Gut Buster </h2>
            <p>
                <h3>We aim to provide healthy food instructions,<br>
                diet plans and deliver a live chat accessible from the browser.<br>
                The  web app will provide a social login to allow users to easily identify themselves,<br>
                and feature a Comment/Discussion attitude, through that people can communicate with each other .</h3>
            </p>
            <h1> Log in below first to get started</h1>
        </div>
         <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
        
    </body>
    
</html>
