<html>
    <head>
       <title> Gut Buster </title>
    </head>
    <body>
        <h1> Gut Buster </h1>
        <h2><a href="login.html"><button>Login Page </button></a>
            <a href="profile.html"><button>Profile Page</button></a>
            <a href="foodSearch.html"><button>Food Search Page</button></a>
            </h2>
        <div>
            <h3>Wellcome to the Gut Buster </h3>
            <p>
                We aim to provide healthy food instructions,<br>
                diet plans and deliver a live chat accessible from the browser.<br>
                The  web app will provide a social login to allow users to easily identify themselves,<br>
                and feature a Comment/Discussion attitude, through that people can communicate with each other .
            </p>
        </div>
    </body>
    
</html>
