<!DOCTYPE html>
<html>
   <h1>User Information</h1>
   <form>
      <label for="height">Height:</label>
      <input type="text" id="height_feet" placeholder="ft"  name="height">  ' <input type="text" id="height_inch" placeholder="inch" name="height"> " <br><br>
      <label for="weight">Weight:</label>
      <input type="text" id="weight" name="weight" placeholder="lbs" > lbs<br><br>
      <label for="gender">Gender:</label>
      <select id="gender">
         <option value="man">Man</option>
         <option value="woman">Woman</option>
         <option value="other">Other</option>
      </select>
      <br>
      <p>Do you want to lose  your weight or gain ?</p>
      <input type="radio" id="gain" name="weight" value="gain">
      <label for="gain">Gain</label><br>
      <input type="radio" id="lose" name="weight" value="lose">
      <label for="lose">Lose</label><br>
      <p>How may pounds?
         <input type="text" placeholder="lbs" > lbs 
      </p>
      <p> What kind of protine do you want to have in your food?  <input type="text" placeholder="protine" ></p>
      <a href="profile.html"><button>Submit</button></a>
   </form>
</html>